<mat-toolbar *ngIf="isLoggedIn$ | async" color="primary">
  <button class="d-lg-none" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="goTo('album')" mat-menu-item>Álbumes</button>
    <button (click)="goTo('albumesCompartidos')" mat-menu-item>Álbumes Compartidos</button>
    <button (click)="goTo('cancion')" mat-menu-item>Canciones</button>
    <button (click)="goTo('cancionCompartida')" mat-menu-item>Canciones Compartidas</button>
    <button (click)="goTo('acerca')" mat-menu-item>Acerca de</button>
  </mat-menu>
  <span class="toolbar-spacer d-lg-none"></span>
  <div class="icon" (click)="goTo('logIn')">
    <img src="assets/img/ionic-logo.png" width="100" height="50" class="d-inline-block" alt="">
  </div>
 <button class="menu d-none d-lg-block" color="primary" (click)="goTo('album')" mat-flat-button>Álbumes</button>
 <button class="menu d-none d-lg-block" color="primary" (click)="goTo('albumesCompartidos')" mat-flat-button>Álbumes Compartidos</button>
 <button class="menu d-none d-lg-block" color="primary" (click)="goTo('cancion')" mat-flat-button>Canciones</button>
 <button class="menu d-none d-lg-block" color="primary" (click)="goTo('cancionCompartida')" mat-flat-button>Canciones Compartidas</button>
 <button class="menu d-none d-lg-block" color="primary" (click)="goTo('acerca')" mat-flat-button>Acerca de</button>
 <span class="toolbar-spacer"></span>
 <span class="username d-none d-lg-block">
  {{username$ | async}}
 </span>
 <button class="logout"  (click)="goTo('logOut')" mat-icon-button matTooltip="Cerrar Sesión">
  <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
