/* CUSTOM PALETTE */
$main-color: (
    50 : #e0edf2,
    100 : #b3d2de,
    200 : #80b4c8,
    300 : #4d96b1,
    400 : #2680a1,
    500 : #006990,
    600 : #006188,
    700 : #00567d,
    800 : #004c73,
    900 : #003b61,
    A100 : #91ccff,
    A200 : #5eb4ff,
    A400 : #2b9cff,
    A700 : #1290ff,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-color: (
    50 : #F3E5F5,
    100 : #E1BEE7,
    200 : #CE93D8,
    300 : #BA68C8,
    400 : #AB47BC,
    500 : #CB6CE6,
    600 : #8E24AA,
    700 : #7B1FA2,
    800 : #6A1B9A,
    900 : #4A148C,
    A100 : #EA80FC,
    A200 : #E040FB,
    A400 : #D500F9,
    A700 : #AA00FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$accent-color: (
    50 : #e0f5f3,
    100 : #b3e7e2,
    200 : #80d7cf,
    300 : #4dc6bb,
    400 : #26baad,
    500 : #00ae9e,
    600 : #00a796,
    700 : #009d8c,
    800 : #009482,
    900 : #008470,
    A100 : #b1fff1,
    A200 : #7effe8,
    A400 : #4bffdf,
    A700 : #31ffda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
